

.container {
  width: 960px;
  border: 1px solid indigo;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
}
  
.item {
    display: inline-block;
    flex-grow: 1;
    min-height: 10px;
}